@import "../../../styles/main";

.c-dropdown-menu {
  position: relative;

  button {
    @include button-no-style;
  }

  .c-dropdown-menu-items {
    display: none
  }

  &--active {
    position: relative;

    button {
      @include button-no-style;
    }

    .c-dropdown-menu-items {
      position: absolute;
      background-color: $card-color;
      border-radius: 5px;
      min-width: 180px;
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
      overflow-y: auto;
      max-height: 300px;

      button {
        cursor: pointer;
        text-align: left;
        padding: 1rem;

        &:hover {
          background: lighten($card-color, 30%);
          transition: 300ms ease-in-out;
        }
      }
    }
  }
}