$background-color: #171717;
$card-color: #2F3138;
$table-color: #212121;
$border-color: #737784;
$contrast-color: #FFFFFF;
$alert-color: #DC3545;
$success-color: #28A745;

html {
  background-color: $background-color;
  color: $contrast-color;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  height: 100%;
  position: relative;

  body {
    height: 100%;
    position: relative;
    margin: 40px;

    .app {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 24px;
      grid-row-gap: 24px;
      height: 100%;
    }
  }
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1rem;
  margin: 0;
}