body {
  background-color: black;
}

.container {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.clientlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  font-size: 3vh;
  align-items: center;
}

.clientbutton {
  color: white;
  background-color: inherit;
  margin: 10px;
  font-size: 3vh;
  border: inherit;
}

.usergrid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.usercard {
  margin-left: 1.2rem;
  color: white;
  font-size: 3.2vh;
  align-items: left;
}

.card {
  width: 7vw;
  margin: 1rem;
  line-height: 3vh;
  display: inline-block;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.cardselected {
  width: 7vw;
  margin: 1rem;
  line-height: 3vh;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  background-color: rgb(117, 116, 116);
  border: 1px solid #0f12c0;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 3.2vh;
}

.card p {
  margin: 0;
  font-size: 3.2vh;
  line-height: 1.5vh;
}
