@import "src/styles/main";
@import "src/styles/mixins";

.c-userlist {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__buttons {
    padding: 5px;
    display: flex;
    flex-direction: column;

      button {
        @include standard_button;
      }

      .selected {
        background-color: $contrast-color;
        color: $background-color;
      }
  }
}