@import "src/styles/main.scss";

.c-user-list {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__items {
    display: flex;
    flex-direction: column;

      .selected {
        background-color: $contrast-color;
        color: $background-color;
      }
  }
}