@import "../../../styles/main";

.c-user-details {
  grid-area: 1 / 2 / 7 / 7;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__header {
    display: flex;

    &-edit {
      margin-left: auto;
      max-width: 200px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      button {
        margin: 0 16px 0 0;
      }

      &--save {
        background-color: $success-color;
        border-color: $success-color;
      }
    }
  }
}