@import "../../../styles/main";

.c-user-details {
  grid-area: 1 / 2 / 7 / 7;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  &__header {
    display: flex;
    justify-content: space-between;

    &:last-child {
      margin: 0;
    }
  }
}